wandb/*
*.pyc
segformer/wandb/*

data/deepglobe-road-extraction-dataset/*
data/massachusetts-roads-dataset/*

models/segformer/other models/*
models/segformer/segformer.pth
data/googlemaps-boston-losangeles-suburbs/api_key.npy
models/segformer/model_combined_2.pth
models/segformer/model_googlemaps_2.pth
models/segformer/model_train_17_0.92717.pth
experiments.ipynb
