wandb/*
*.pyc
segformer/wandb/*

data/deepglobe-road-extraction-dataset/*
data/massachusetts-roads-dataset/*
data/roadsegmentation-boston-losangeles/images/*
data/roadsegmentation-boston-losangeles/groundtruth/*

models/segformer/other models/*
models/segformer/segformer.pth
data/googlemaps-boston-losangeles-suburbs/api_key.npy
models/segformer/model_combined_2.pth
models/segformer/model_googlemaps_2.pth
models/segformer/model_train_17_0.92717.pth
experiments.ipynb
models/segformer/model_train_e-4.pth
models/segformer/model_train_e-6_0.93086.pth
data/roadsegmentation-boston-losangeles/api_key.npy
models/stuff/*
models/upernet/upernet_train_e-6.pth
models/segformer/segformer_e-5.pth
data/ethz-cil-road-segmentation-2023/test/pred/*
models/oneformer/stuff.ipynb
models/oneformer/main_.ipynb
models/oneformer/ade20k.jpeg
